$menuTransition: transform 600ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
$lightTextColor: #fafafa;
$borderColor: rgba(250, 250, 250, 0.15);


* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000000;
}

.container {
    max-width: 100% !important;
    padding: 0;
}

.fixed {
    width: 100%;
    height: 64px;
}

.nav {
    background-color: #000000;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $lightTextColor;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px;
    position: fixed;
    z-index: 100;
    &-mobile {
        display: none;
    }
    &-burger {
        width: 54px;
        height: 100%;
        border-right: 1px solid $borderColor;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $menuTransition;
        &-block {
            width: 22px;
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.4s ease-in;
            &.active {
                transform: rotate(-45deg);
            }
        }
    }
    &-line {
        background-color: #ffffff;
        height: 2px;
        width: 100%;
        border-radius: 20px;
    }
    & .line1 {
        transition: $menuTransition;
        transform-origin: right;
        width: 50%;
        &.active {
            transform: rotate(-90deg) translateX(1px);
        }
    }
    & .line2 {
        height: 2px;
        width: 100%;
    }
    & .line3 {
        transition: $menuTransition;
        transform-origin: left;
        width: 50%;
        align-self: flex-end;
        &.active {
            transform: rotate(-90deg) translateX(-1px);
        }
    }
    &-logo {
        width: 120px;
        height: 50px;
        background: url('./../img/logo/logo.jpg');
        background-size: cover;
    }
    &-list {
        display: flex;
        text-transform: uppercase;
    }
    &-link {
        padding: 0 15px;
        height: 64px;
        display: flex;
        align-items: center;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in;
        cursor: pointer;
        padding-top: 4px;
        color: #ffffff;
        &:hover {
            color: #ffffff;
            border-color: $lightTextColor;
        }
        &-icon {
            display: none;
        }
    }
    &-right {
        height: 64px;
        display: flex;
        align-items: center;
    }
    &-cart {
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        cursor: pointer;
        &-num {
            position: relative;
        }
        &-icon {
            width: 30px;
        }
        &-img {
            position: relative;
        }
    }
    &-click {
        display: flex;
        gap: 10px;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    &-fun {
        display: flex;
        gap: 10px;
    }
    &-login {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-right: 10px;
    }
}

.header {
    background-color: #000000;
    background: url('https://s3.amazonaws.com/beatstarsdata/proweb/2.0/user-styles/uploads/published/63746/main_bg.jpg?_=1638473760');
    width: 100%;
    height: 710px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-search {
        background-color: #ffffff;
        height: 68px;
        display: flex;
        align-items: center;
        border-radius: 3px;
        margin-top: 150px;
        &-btn {
            background-color: #f5f5f5;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            height: 52px;
            padding: 0 10px;
            border: 0;
            outline: none;
            margin-right: 10px;
            border-radius: 3px;
        }
    }
    &-input {
        padding: 0 20px;
        width: 650px;
        outline: none;
        border: 0;
        height: 100%;
        font-size: 17px;
        color: #191919;
        letter-spacing: 0.3px;
        font-weight: 500;
    }
    &-track {
        color: $lightTextColor;
        display: flex;
        align-items: center;
        padding-top: 30px;
        &-text {
            font-size: 13px;
            font-weight: 500;
        }
        &-title {
            font-size: 30px;
            font-weight: 700;
        }
        &-fun {
            display: flex;
        }
        &-info {
            margin-left: 26px;
        }
        &-img {
            background: url('./../img/beat/reflect.png');
            width: 130px;
            height: 130px;
            background-size: cover;
            background-position: center;
            position: relative;
            & .btn-play {
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                top: 50%;
                bottom: 50%;
                left: 50%;
                right: 50%;
                background-color: #ffffff;
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: -24px 0 0 -24px;
                & i {
                    position: absolute;
                    z-index: 10;
                    color: #000000;
                    font-size: 20px;
                    margin-left: 3px;
                    &.fa {
                        &-pause {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.playlist {
    background-color: #141414;
    color: $lightTextColor;
    padding: 20px 0;
    &-head {
        width: 100%;
        display: flex;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: 600;
        color: #9e9e9e;
        &-title {
            padding: 0 25px 0 60px;
        }
        &-tags {
            margin: 0 25px;
        }
    }
    &-box {
        width: 1166px;
        margin: 0 auto;
    }
    &-button {
        padding: 0 16px;
        height: 40px;
        background-color: #ffffff;
        border: 0;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        &-icon {
            background: url('./../img/icon/cart.png');
            width: 18px;
            height: 18px;
            background-size: cover;
        }
        &-active {
            display: none;
        }
        &.active {
            & .playlist-button-icon {
                display: none;
            }
            & .playlist-button-price {
                display: none;
            }
            & .playlist-button-active {
                display: flex;
            }
        }
    }
    &-item {
        height: 60px;
        display: flex;
        align-items: center;
        font-weight: 500;
        position: relative;
        &:hover {
            & .playlist-title {
                text-decoration: underline;
            }
        }
    }
    &-title {
        padding: 0 25px 0 60px;
        font-weight: 600;
        transition: 0.2s ease-in;
    }
    &-tags {
        margin: 0 25px;
        display: flex;
    }
    &-img {
        width: 44px;
        height: 44px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 50%;
        margin-top: -22px;
        border-radius: 3px;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
    }
    &-border {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 94%;
        border-bottom: 1px solid $borderColor;
    }
    &-fun {
        display: flex;
        justify-content: right;
    }
    &-tag {
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        background-color: #191919;
        border-radius: 20px;
        color: #9e9e9e;
        text-transform: lowercase;
        padding: 0 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            text-decoration: underline;
        }
        & a {
            color: #9e9e9e;
            text-decoration: none;
        }
    }
    &-btn {
        margin: 20px 0;
        &-block {
            display: flex;
            justify-content: center;
        }
    }
}

.kits {
    background-color: #000000;
    padding: 40px 0;
    color: $lightTextColor;
    text-align: center;
    &-item {
        height: 232px;
        width: 175px;
        &-img {
            width: 175px;
            height: 175px;
            background: url('./../img/kits/dusk\ guitar.png');
            background-size: cover;
        }
        &-title {
            margin-top: 10px;
            font-weight: 600;
        }
        &-price {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &-items {
        display: flex;
        gap: 40px;
        justify-content: center;
        padding: 40px 0 20px;
    }
}

.cart {
    &-block {
        position: absolute;
        background-color: #000000;
        top: 64px;
        width: 365px;
        padding: 20px 16px 16px;
        right: 0;
        border-radius: 5px;
        border: 1px solid $borderColor;
        & a {
            text-decoration: none;
            text-align: center;
            & .cart-btn-light {
                    color: initial;
                }
                &-dark {
                    color: initial;
                }
        }
    }
    &-list {
        width: 100%;
        max-height: 200px;
        padding-bottom: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .cart-item {
            display: flex;
            width: 100%;
            justify-content: space-between;
            &-img {
                background: url('./../img/beat/broken.png');
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border-top: 4px solid #000000;
                border-bottom: 4px solid #000000;
            }
            &-info {
            }
        }
    }
    &-action {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    &-btn {
        &-light {
            background-color: #ffffff;
            height: 44px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
        }
        &-dark {
            color: #6f6666;
        }
    }
    &-item {
        &-title {
            font-size: 14px;
            font-weight: 600;
        }
        &-subtitle {
            font-size: 11px;
            font-weight: 600;
            letter-spacing: .4px;
            color: #7a7373;
            text-transform: uppercase;
        }
        &-delete {
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-line {
            &1 {
                width: 14px;
                height: 1px;
                background-color: grey;
                transform: rotate(-45deg) translateX(1px);
            }
            &2 {
                width: 14px;
                height: 1px;
                background-color: grey;
                transform: rotate(45deg) translateX(-1px); 
            }
        }
        &-img {
            background-size: cover !important;
            background-position: center !important;
        }
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-left {
        display: flex;
        gap: 10px;
    }
    &-length {
        background-color: red;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: -8px;
        right: 0;
        &-num {
            font-size: 11px;
            line-height: 15px;
        }
    }
}

.lease {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px 0 100px;
    &-item {
        width: 224px;
        text-align: center;
        padding: 55px 15px 20px;
        transition: all 0.2s ease-in;
        border-radius: 3px;
        cursor: pointer;
        &-title {
            font-size: 14px;
            font-weight: 600;
        }
        &-price {
            font-size: 36px;
            font-weight: 700;
            letter-spacing: -1px;
        }
        & ul {
            margin: 0;
            padding: 0;
        }
        & li {
            font-size: 12px;
            list-style-type: none;
        }
        &:hover {
            background-color: #ffffff;
            color: #000000;
            & .btn {
                background-color: #000000;
                color: #ffffff;
                height: 40px;
            }
        }
    }
    &-items {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    &-deals {
        &-title {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-items {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.subscribe {
    width: 100%;
    height: 767px;
    background: url('https://s3.amazonaws.com/beatstarsdata/proweb/2.0/user-styles/uploads/published/63746/memberships_bg.jpg?_=1652365627') no-repeat top center;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
    z-index: 0;
    text-align: center;
    padding: 50px 0;
    &-bckg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.53;
        z-index: -1;
        top: 0;
        left: 0;
    }
}

.contact {
    background-color: #141414;
    color: #ffffff;
    padding: 40px 0 70px;
    text-transform: uppercase;
    text-align: center;
    &-box {
        width: 590px;
        margin: 0 auto;
    }
    & form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    input {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.2px;
        border: 0;
        border-bottom: 1px solid #ffffff;
        outline: none;
        background-color: transparent;
        color: #ffffff;
        padding-bottom: 3px;
        padding-top: 20px;
    }
    &-info {
        display: flex;
        justify-content: center;
        position: relative;
        & input {
            width: 285px;
        }
        &-md1 {
            margin-right: 15px;
            margin-top: 18px;
            width: 290px;
            position: relative;
        }
        &-md2 {
            margin-top: 18px;
            position: relative;
        }
    }
    &-subject {
        height: 43px;
        display: flex;
        align-items: flex-end;
        position: relative;
        & input {
            width: 100%;
        }
        & label {
            transition: all 0.5s ease-in;
        }
    }
    &-message {
        height: 43px;
        position: relative;
        display: flex;
        align-items: flex-end;
        & input {
            width: 100%;
        }
    }
    label {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .5px;
        position: absolute;
        margin-left: 2px;
        bottom: 0;
        transition: all 0.2s ease-in;
        padding-top: 20px;
        padding-right: 200px;
        white-space: nowrap;
    }
    &-btn {
        display: flex;
        justify-content: right;
    }
}

.footer {
    color: #ffffff;
    background-color: #000000;
    padding: 72px 0 92px;
    &-box {
        display: flex;
        width: 1166px;
        justify-content: center;
        margin: 0 auto;
    }
    & a {
        color: #ffffff;
        text-decoration: none;
    }
    &-logo {
        font-size: 36px;
        font-weight: 700;
        text-decoration: none;    
    }
    &-block {
        display: flex;
        justify-content: space-between;
    }
    &-list {
        display: flex;
        flex-direction: column;
        &-link {
            padding-bottom: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.per {
    &-45 {
        width: 45%;
    }
    &-10 {
        width: 10%;
    }
    &-5 {
        width: 5%;
    }
    &-20 {
        width: 20%;
    }
    &-50 {
        width: 50%;
    }
    &-25 {
        width: 25%;
    }
}

.btn {
    padding: 0 24px;
    background-color: $lightTextColor;
    height: 50px;
    border: 0;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    &-deals {
        height: 40px;
        padding: 0 16px;
        margin: 16px 0;
        width: 100%;
    }
}

.title {
    font-size: 28px;
    font-weight: 600;
}

button {
    cursor: pointer;
}

.label-active {
    transform: translate3d(0, -28px, 0) scale(1);
    font-size: 8px !important;
}

.label-invalid {
    transition: all 0s;
    transform: translate3d(0, -28px, 0) scale(1);
    font-size: 8px !important;
}

@media (max-width: 1200px) {
    .playlist {
        &-box {
            
        }
    }
}

@media (max-width: 1166px) {
    .playlist {
        &-box {
            width: 100%;
            padding: 0 20px;
        }
    }
    .footer {
        &-box {
            width: 100%;
        }
    }
    .lease {
        &-items {
            overflow: hidden;
        }
    }
    .kits {
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    .header {
        background-image: url("https://s3.amazonaws.com/beatstarsdata/proweb/2.0/user-styles/uploads/published/63746/main_bg_mobile.jpg?_=1652370242");
        &-track {
            flex-direction: column;
            width: 400px;
            text-align: center;
            &-img {
            }
            &-info {
                width: 100%;
                margin: 0;
            }
            &-fun {
                justify-content: center;
            }
        }
    }
    .nav {
        padding: 0;
        &-list {
            position: absolute;
            left: 0;
            height: 500px;
            top: 64px;
            width: 300px;
            background-color: #000000;
            z-index: 100;
            transform: translateX(-120%);
            transition: all 0.6s ease-in;
            flex-direction: column;
            padding: 0 10px;
            &.active {
                transform: translateX(0);
            }
        }
        &-left{
            display: flex;
            height: 100%;
            gap: 20px;
            align-items: center;
        }
        &-burger {
            height: 64px;
        }
        &-mobile {
            display: unset;
        }
        &-link {
            border-radius: 3px;
            border-color: transparent;
            &:hover {
                border-color: transparent;
            }
            &-icon {
                display: flex;
                width: 27px;
                align-self: center;
                height: 100%;
                align-items: center;
            }
        }
    }
    .header {
        height: 525px;
        &-search {
            display: none;
        }
    }
    .playlist {
        &-head, &-time, &-bpm, &-tags {
            display: none;
        }
        &-item {
            justify-content: space-between;
        }
    }
    .footer {
        &-box {
            width: 100%;
            height: 256px;
            flex-direction: column;
            padding: 0 20px;
            justify-content: space-between;
        }
        &-block {
            width: 100%;
        }
    }
    .contact {
        &-info {
            flex-direction: column;
            gap: 20px;
            &-md1 {
                width: 100%;
            }
        }
        & input {
            width: 100%;
        }
    }
    .lease {
        &-items {
            width: 100%;
            justify-content: left;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .kits {
        &-items {
            overflow-x: scroll;
            padding-left: 20px;
            padding-right: 20px;
            justify-content: left;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .cart {
        &-block {
            width: 325px;
        }
    }
}

@media (max-width: 590px) {
    .header {
        height: 525px !important;
        background-color: #000000;
        &-track {
            width: 300px !important;
        }
    }
    .contact {
        &-box {
            width: 100%;
            padding: 0 30px;
        }
        &-info {
            & label {
                width: 250px;
            }
        }
    }
    .nav {
        &-fun {
            gap: 0;
        }
        &-cart {
            border: 0;
            padding: 0;
            &-price {
                display: none;
            }
        }
        &-login {
            &-icon {
                display: none;
            }
        }
    }
    .playlist {
        &-button {
            &-price {
                display: none;
            }
            &-active {
                white-space: nowrap;
            }
        }
        &-title {
            white-space: nowrap;
        }
    }
}

.display-none {
    display: none;
}

.list-scroll {
    overflow-y: scroll;
}

.bi {
    &-bag {
        margin-top: -5px;
        font-weight: 900;
    }
}